@{
    ViewData["Title"] = "Privacy Policy";
}


  
    <div>
      <div>
        <form method="post">
        Enter Id:      <input type="number" name="id" required>
        Enter Name:    <input type="text" name="nm" required>
        Enter roll:  <input type="number" name="roll" required>
        <button type="submit">Submit</button>

    </form>
        
    </div>  

    </div>
