@{
    ViewData["Title"] = "Articles";
}


    <div>
        <form method="post">
        Enter Id:      <input type="text" name="id">
        Enter Name:    <input type="text" name="nm">
        Enter Author:  <input type="text" name="author">
        <button type="submit">Submit</button>

        </form>
    </div>

