@{
    ViewData["Title"] = "Update articles";

}

<form method="post">
    <div>
        Enter id :<input type="number" name="id" required>
        New name  :<input type="text" name="nm" required>
        New Author :<input type="text" name="author" required>
        <button type="submit">Update</button>
    </div>

</form>